.card{
  border: 2px solid hsla(10, 86%, 37%, 0.11);
  border-radius: 10px;
  box-shadow: 5px 2px 5px hsl(191, 6%, 66%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 10px hsla(47, 59%, 66%, 0.474) ;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0px;
  color: hsla(0, 59%, 15%, 0.31);

}

.card .card-text{
  font-family: Arial, sans-serif;
 
  color: hsla(0, 59%, 15%, 0.31);
}

.student{
  font-family: Arial, sans-serif;
  font-size: 1rem;
  border: 2px solid black;
  padding: 10px;
  margin: 9px;
  max-width: 40%;
}
.student p{
  margin: 0;
}

.logpage{
  max-width: 20%;
  border: 2px solid ;
  margin-right: 30%;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: inline-block;
}


.logTitle{
  max-width: 400px;
  border: 1px solid hsl(0, 78%, 32%);
  border-radius: 5px;
  text-align: center;
   margin: 20px;
  
  padding: 10px;
  display: inline-block;
  
}

.userpass{
  display: inline-block;
}

.userName{
  display: inline-block;
}

.welcome-message{
  font-size: 2.5em;
  background-color: aqua;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}

.login-prompt{
  font-size: 3em;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  
  color: hsl(72, 39%, 27%);
  margin-bottom: 10px;
  text-align: center;
  border: 2.5px solid;
  border-radius: 5px;
  background-color: hsl(205, 50%, 81%);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: hsl(159, 96%, 18%);
  text-align: center;
  margin: 0;

}
.list-items li :hover{
  color: hsl(208, 73%, 46%);
  cursor: pointer;

}

.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid ;
  border-radius: 10px;
  background-color: bisque;
  
}

.count-display{
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 50px;
  color: hsla(94, 84%, 40%, 0.66);
}

.counter-button{
  width: 100px;
  height: 30px;
  font-size: 1em;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 5px;
  background-color: hsla(180, 59%, 46%, 0.803);
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}
.counter-button:hover{
  background-color: hsla(180, 59%, 30%, 0.803);
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3{
  margin: 20px;
  font-size: 2rem;
}
.color-display{
  
  
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(208, 203, 203);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.15s, ease;

}

.color-display p{
  color: hsl(33, 42%, 85%);
  font-size: 1rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: solid;
  margin-bottom: 10px;

}

input[type="color"]{
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid hsla(82, 86%, 43%, 0.545);
}

